// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
//  font-family: 'Poppins', sans-serif;

body{
    font-family: 'Montserrat', sans-serif;
}
.site_container{
    width: 1210px;
    margin: 0 auto;
}

h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    letter-spacing: 0.2px;
}

p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #737373;
    letter-spacing: 0.2px;
}
.link{
    color: #FA4A0C;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
}
a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}