<template>
  <div class="navbar">
    <div class="site_container navbar_inner">
        <div class="navbar_logo">
             <nuxt-link to="/">
                <img src="@/assets/images/logo.png" alt="logo">
             </nuxt-link>
        </div>
        <ul class="navbar_list">
            <li class="navbar_item" v-for="item in menu" :key="item.title">
                <nuxt-link :to="localePath(item.link)" exact-active-class="active_link">{{ $t(item.title) }}</nuxt-link>
            </li>
        </ul>
        <div class="lang">
            <router-link :to="switchLocalePath('en')" exact-active-class="active_lang">EN</router-link> |
            <router-link :to="switchLocalePath('uz')" exact-active-class="active_lang">UZB</router-link> |
            <router-link :to="switchLocalePath('ru')" exact-active-class="active_lang"   >RU</router-link>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return{
            menu: [
                {   
                    title: 'home',
                    link: '/',
                },
                {   
                    title: 'product',
                    link: '/product',
                },
                {   
                    title:'faq',
                    link: '/faq',
                },
                {   
                    title:'contact',
                    link: '/contact',
                },
            ]
        }
    },

}
</script>

<style lang="scss" scoped src='./navbar.scss'>

</style>