.navbar{
    height: 155px;
    width: 100%;
    .navbar_inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .navbar_logo{
            width: 206px;
            height: 102px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .navbar_list{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            gap: 114px;
            .navbar_item{
                a{
                    color: #252B42;
                    font-weight: 600;
                    font-size: 16px;
                    transition: .3s;
                    &:hover{
                        color: #FA4A0C;
                    }
                    &.active_link{
                        color: #FA4A0C;
                    }
                }
            }
        }
        .lang{
            a{
                color: #252B42;
                padding: 0 2px;
                transition: .3s;
                font-size: 14px;
                &:hover{
                    color: #FA4A0C;
                }
                &.active_lang{
                    color: #FA4A0C;
                }
            }
        }
    }
}