<template>
  <div class="home_bg"
   :style="{ backgroundImage: `url(${image})`, height: heightBg }">
       <div class="home_bg_inner">
            <strong>{{  $t(info)  }}</strong>
            <h1>{{ $t(title) }}</h1>
            <h2>{{$t(title2) }}</h2>
            <p>{{$t(text)}}</p>
            <div class="home_bg_btns">
                <the-button :theButton="btn1"/>
                <the-button :isLight="true" :theButton="btn2"/>
            </div>
        </div> 
  </div>
</template>

<script>
import theButton from './theButton.vue'
export default {
  components: { theButton },
    name: 'HomeImgInfo',
    props: {
        image: String,
        heightBg: String,
        btn1: String,
        btn2: String,
        title: String,
        title2: String,
        text: String,
        info: String,
    }

}
</script>

<style lang="scss" scoped>
.home_bg{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .home_bg_inner{
        width: 850px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        strong{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.1px;
            color: #F7F7F7;
        }
        h1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 58px;
            line-height: 80px;
            letter-spacing: 0.2px;
            text-align: center;
        }
        h2{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 57px;
            letter-spacing: 0.2px;
            text-align: center;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #F7F7F7;
            line-height: 38px;
            margin-top: 20px;
            margin-bottom: 50px;
        }
        .home_bg_btns{
            display: flex;
            gap: 40px;
            position: relative;
            z-index: 3; 
        }
    }
}
</style>