<template>
    <button  @click="$emit('clickBtn')" :class="{ light: isLight }">
        {{ theButton }}
    </button>
</template>

<script>
export default {
    name: 'theButton',
     props: {
        theButton: String,
        isLight: {
            type: Boolean,
            default: () => false
        }
    }

}
</script>

<style lang="scss" scoped>
    button{
        background: #FA4A0C;
        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
        border-radius: 30px;
        padding: 16px 56px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        line-height: 36px;
        transition: .3s;
        box-sizing: border-box;
        border: 2px solid#FA4A0C;
        &:hover{
            // opacity: .8;
            // border: 1px solid#FA4A0C;
            background: rgba(0, 0, 0, 0.205);   
            color: #FA4A0C;
            box-shadow: 0px 10px 30px rgba(183, 51, 39, 0.356);
        }
        &.light{
            background: transparent;
            border: 1px solid #FFFFFF;
            &:hover{
                opacity: .9;
                border: 2px solid#FA4A0C;
                background: rgba(0, 0, 0, 0.205);
                box-shadow: 0px 10px 30px rgba(183, 51, 39, 0.356);
            }
        }
    }
</style>