<template>
  <div class="works_info site_container">
        <div class="works_img">
            <img :src="data.imgUrl" alt="img">
        </div>
        <div class="works_text">
            <nuxt-link :to="'/' + data.id" class="link">{{ $t(data.linkName) }}</nuxt-link>
            <h3>{{ $t(data.title) }}</h3>
            <p>{{ $t(data.text) }}</p>
        </div>
  </div>
</template>

<script>
export default {
    props: {
        data: Object
    }
}
</script>

<style lang="scss" scoped>
.works_info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .works_img{
        width: 700px;
        height: auto;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            transform: scale(1.3);
        }
    }
    .works_text{
        h3{
            margin-bottom: 27px;
            margin-top: 17px;
        }
    }
    &:nth-child(2n-1){
        flex-direction: row-reverse;
        padding-left: 60px;
    }
}
</style>