<template>
  <div class="footer">
    <div class="footer_inner site_container">
        <div class="footer_logo">
             <nuxt-link to="/">
                <img src="@/assets/images/logo.png" alt="logo">
             </nuxt-link>
        </div>
        <div class="footer_icons">
            <svg width="35" height="28" viewBox="0 0 35 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M34.1449 4.07567C32.9201 4.60402 31.5873 4.98426 30.2144 5.13236C31.6398 4.28555 32.7072 2.94774 33.2163 1.36992C31.8788 2.16559 30.4135 2.72353 28.8855 3.01899C28.2469 2.33625 27.4745 1.79235 26.6165 1.42118C25.7584 1.05001 24.8332 0.859524 23.8983 0.861589C20.1158 0.861589 17.0739 3.92758 17.0739 7.69002C17.0739 8.21836 17.1379 8.74671 17.242 9.25504C11.5783 8.95884 6.52702 6.25309 3.16884 2.1104C2.55695 3.15554 2.23629 4.34555 2.24024 5.55663C2.24024 7.92617 3.44502 10.0155 5.28221 11.2443C4.19953 11.2017 3.1422 10.9041 2.19621 10.3758V10.4598C2.19621 13.778 4.54173 16.5278 7.66776 17.1602C7.08082 17.3126 6.47702 17.3906 5.8706 17.3923C5.42631 17.3923 5.00604 17.3483 4.58176 17.2882C5.44632 19.994 7.96395 21.9593 10.9619 22.0233C8.61638 23.8605 5.67847 24.9412 2.4884 24.9412C1.91603 24.9412 1.38769 24.9212 0.839333 24.8572C3.8653 26.7984 7.45563 27.9191 11.3221 27.9191C23.8743 27.9191 30.7427 17.5204 30.7427 8.49454C30.7427 8.19835 30.7427 7.90216 30.7227 7.60597C32.0516 6.63333 33.2163 5.42855 34.1449 4.07567Z" fill="#FA4A0C"/>
            </svg>
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.2103 0.379883H1.7512C1.04274 0.379883 0.47037 0.952254 0.47037 1.66071V31.1198C0.47037 31.8283 1.04274 32.4007 1.7512 32.4007H31.2103C31.9188 32.4007 32.4911 31.8283 32.4911 31.1198V1.66071C32.4911 0.952254 31.9188 0.379883 31.2103 0.379883ZM27.5119 9.72595H24.9543C22.949 9.72595 22.5607 10.6786 22.5607 12.0795V15.1655H27.3478L26.7234 19.9966H22.5607V32.4007H17.5695V20.0006H13.3948V15.1655H17.5695V11.6032C17.5695 7.46848 20.0951 5.21502 23.7855 5.21502C25.5546 5.21502 27.0716 5.34711 27.5159 5.40715V9.72595H27.5119Z" fill="#FA4A0C"/>
            </svg>
            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.625 3.25H11.375C6.88765 3.25 3.24997 6.88769 3.24997 11.375V27.625C3.24997 32.1123 6.88765 35.75 11.375 35.75H27.625C32.1123 35.75 35.75 32.1123 35.75 27.625V11.375C35.75 6.88769 32.1123 3.25 27.625 3.25Z" fill="#FA4A0C"/>
            <path d="M26.0001 18.4763C26.2007 19.8287 25.9697 21.2099 25.34 22.4234C24.7103 23.6369 23.714 24.621 22.4928 25.2357C21.2715 25.8504 19.8876 26.0643 18.5378 25.8471C17.188 25.6299 15.941 24.9926 14.9742 24.0259C14.0075 23.0591 13.3702 21.8122 13.153 20.4623C12.9358 19.1125 13.1497 17.7286 13.7644 16.5074C14.3791 15.2861 15.3632 14.2898 16.5767 13.6601C17.7903 13.0305 19.1715 12.7995 20.5239 13C21.9034 13.2046 23.1805 13.8474 24.1666 14.8335C25.1527 15.8196 25.7956 17.0968 26.0001 18.4763Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M28.4375 10.5625H28.4538" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

        </div>
        <span>Copywright 2020 Bella Onojie.com</span>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.footer{
    width: 100%;
    .footer_inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 50px auto;
        .footer_icons{
            display: flex;
            flex-direction: row;
            gap: 33px;
        }
    }
}
</style>