<template>
  <div v-if="loading">
    <navbar />
    <div light>
      <Nuxt />
    </div>
    <site-footer/>
  </div>
</template>

<script>
import navbar from '@/components/navbar/navbar.vue'
import SiteFooter from '@/components/footer/siteFooter.vue'
export default {
  components: { navbar, SiteFooter },
  name: 'DefaultLayout',
  data () {
    return {
      loading: false,
    }
  },
  mounted() {
    if (localStorage.getItem('lang')) {
            console.log(localStorage.getItem('lang'))
            this.$i18n.setLocale(localStorage.getItem('lang'));
        }
    this.loading = true;
  }
}
</script>
<style lang="scss" src='@/scss/main.scss'>

</style>
