<template>
    <div class="work">
    <div class="works_info site_container">
            <div class="works_img">
                <img :src="data.imgUrl" alt="img">
            </div>
            <div class="works_text">
                <h3>{{ $t(data.title) }}</h3>
                <p>{{ $t(data.text) }}</p>
                <nuxt-link to="/">Back</nuxt-link>
            </div>
    </div>
    </div>
</template>

<script>
export default {
    validate({params}) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            postId: this.$route.params.id,
            workData: [
                {
                id: 1,
                imgUrl: require('@/assets/images/img1.png'),
                linkName: 'createAnAccount',
                link: '/',
                title: 'createLoginToAnExistingAccountToGetStarted',
                text: 'anAccountIsCreatedWithYourEmailAndaDesiredPassword',
                },
                {
                id: 2,
                imgUrl: require('@/assets/images/img2.png'),
                linkName: 'exploreVarieties',
                link: '/',
                title: 'shopForYourFavoritesMealAseDeyHot',
                text: 'shopForYourFavoriteMealsOrDrinksAndEnjoyWhileDoingIt',
                },
                {
                id: 3,
                imgUrl: require('@/assets/images/img3.png'),
                linkName: 'checkout',
                link: '/',
                title: 'whenYouDoneCheckOutAndGetItDelivered',
                text: 'whenYouDoneCheckOutAndGetItDeliveredWithEase',
                },
            ],
            data: {},
        }
    },
    mounted()  {
        this.data = this.workData.find((item) => item.id == this.$route.params.id)
    }
}
</script>

<style lang="scss" scoped>
.work{
    width: 100%;
    height: 60vh;
    background: rgba(255, 166, 0, 0.897);
}
.works_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 90px;
    .works_img{
        width: 700px;
        height: auto;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            transform: scale(1.1);
        }
    }
    .works_text{
        h3{
            margin-bottom: 20px;
            margin-top: 17px;
        }
        p{
            color: #F7F7F7;
            opacity: .7;
            margin-bottom: 27px;
        }
        a{
            color: #F7F7F7;
            padding: 15px 40px;
            background: #FA4A0C;
            border-radius: 20px;
        }
    }
    &.reverse{
        flex-direction: row-reverse;
    }
    &:nth-child(2n-1){
        flex-direction: row-reverse;
        padding-left: 60px;
    }
}
</style>