<template>
  <div class="home">
    <home-img-info :image="require('@/assets/images/header_bg.png')"          :btn1="headerInfo.btn1"
      :btn2="headerInfo.btn2"
      :info="headerInfo.info"
      :text="headerInfo.text"
      :title="headerInfo.title"
      :heightBg="headerInfo.heightBg"
    />
    <div class="home_before"></div>
    <div class="works">
      <h1>{{ $t( HomeTitle ) }}</h1>
      <WorksInfo 
        v-for="data in workData"
        :key="data.id"
        :data="data"
        @workBtn="goTo(data)"
      />
    </div>
    <home-img-info :image="require('@/assets/images/footer_bg.png')"          :btn1="footerInfo.btn1"
      :btn2="footerInfo.btn2"
      :text="footerInfo.text"
      :title2="footerInfo.title2"
      :heightBg="footerInfo.heightBg"
    />
  </div>
</template>

<script>
import HomeImgInfo from '@/components/HomeImgInfo.vue'
import theButton from '@/components/theButton.vue'
import WorksInfo from '@/components/worksInfo.vue'
export default {
  components: { theButton, HomeImgInfo, WorksInfo },
  name: 'IndexPage',
  data() {
    return {
      HomeTitle: 'howTheAppWorks',
      headerInfo: {
        btn1: 'Playstore',
        btn2: 'App store',
        info: 'foodApp',
        title: "whyStayHungryWhenYouCanOrderFormBellaOnojie",
        text: 'DownloadTtheBellaOnojesFoodAppNowOn',
        heightBg: '620px',
      },
      footerInfo: {
        btn1: 'Playstore',
        btn2: 'foodApp',
        title2: "downloadTheAppNow",
        text: 'availableOnYourFavoriteStoreStartYourPremiumExperienceNow',
        heightBg: '516px',
      },
      workData: [
        {
          id: 1,
          imgUrl: require('@/assets/images/img1.png'),
          linkName: 'createAnAccount',
          link: '/',
          title: 'createLoginToAnExistingAccountToGetStarted',
          text: 'anAccountIsCreatedWithYourEmailAndaDesiredPassword',
        },
        {
          id: 2,
          imgUrl: require('@/assets/images/img2.png'),
          linkName: 'exploreVarieties',
          link: '/',
          title: 'shopForYourFavoritesMealAseDeyHot',
          text: 'shopForYourFavoriteMealsOrDrinksAndEnjoyWhileDoingIt',
        },
        {
          id: 3,
          imgUrl: require('@/assets/images/img3.png'),
          linkName: 'checkout',
          link: '/',
          title: 'whenYouDoneCheckOutAndGetItDelivered',
          text: 'whenYouDoneCheckOutAndGetItDeliveredWithEase',
        },
      ]
    }
  },
  methods: {
    goTo(data) {
      console.log(data);
       this.$router.push('/' + data.id)
    },
  },
  // mounted() {
  //   if (localStorage.getItem('lang')) {
  //           console.log(localStorage.getItem('lang'))
  //           this.$i18n.setLocale(localStorage.getItem('lang'));
  //       }
  // }
  
}
</script>
<style lang="scss" scoped>
.home{
  position: relative;
  .home_before{
    width: 884px;
    margin: 0 auto;
    height: 800px;
    border-bottom:  3px solid #E4E4E4;
    overflow: hidden;
    &::before{
      position: absolute;
      height: 700px;
      width: 550px;
      top: 530px;
      left: 31%;
      z-index: 1;
      content: '';
      background: url('@/assets/images/phone_2.png') no-repeat;
      background-size: contain;
      transform: scale(1.5);
    }
    hr{
      border: 3px solid #E4E4E4;
    }
  }
  .works{
    h1{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 44px;
      line-height: 36px;
      color: #000000;
      letter-spacing: 0.1px;
      opacity: 0.8;
      text-align: center;
      margin-top: 72px;
      margin-bottom: 72px;
    }
  }
}
</style>
